{
  "extends": "loopback",
   "rules": {
      "keyword-spacing": ["error", { before: true, after: false }],
      "key-spacing": ["error", { "beforeColon": false, "afterColon": true, "align": "value" }],
      "object-curly-spacing": ["error", "always"],
      "one-var": ["error", "always"],
      "padded-blocks": ["off"],
      "max-len": ["error", 100],
      "indent": ["error", 3, { "VariableDeclarator": 2 }]
   }
}