body {
  padding-top: 50px;
}

.main-content {
   margin: 0 auto;
   width: 50%;
}

.main-app {
   margin-bottom: 6px;
}

.main-app .list-group {
   margin-bottom: 0;
}

.main-app .list-group-item.no-items {
   display: none;
   margin: 0;
   padding: 0;
}

.main-app .list-group-item.no-items .alert {
   margin: 0;
   padding: 12px;
   border: 0;
   border-radius: 0;
}

.main-app .list-group-item.no-items:last-child {
   display: block;
}

.main-app .list-group-item.item-add {
   padding: 0;
   border: 0;
}

.main-app .list-group-item.item-add:not(:last-child) > .input-group input {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.main-app .list-group-item.item-add:not(:last-child) > .input-group button {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.main-app .list-group > .list-group-item .btn-group {
   opacity: 0;
   transition: opacity 0.2s ease-out;
}

.main-app .list-group > .list-group-item:hover .btn-group {
   opacity: 1;
}